<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<link rel="stylesheet" type="text/css" href="../css/general.css" />
<script src="../js/jquery.js"></script>
<script src="../js/app.js"></script>
<script src="../js/sss.js"></script>
<link rel="stylesheet" href="../css/sss.css" type="text/css" media="all" />
<script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div th:fragment="hotel-header" class="page-header">
			<h1>
				<span th:text="${hotel.name}"></span> <small> <span
					th:each="i : ${#numbers.sequence(1, hotel.rating)}"><i
						class="glyphicon glyphicon-star"></i></span> <span class="pull-right"><a
						th:href="@{|/hotels/${hotel.id}/edit|}"><i
							class="glyphicon glyphicon-pencil"></i></a> · <a
						th:href="@{|/hotels/${hotel.id}/remove|}"><i
							class="glyphicon glyphicon-trash"></i></a></span>
				</small> <br /> <small> <span th:text="${hotel.category}"></span> ·
					<span id="address" th:text="${hotel.address}"></span>
				</small>
			</h1>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="hidden" id="map"></div>
				<div class="slider">
					<img th:each="img : ${hotel.images}" th:src="${'../static/' + img}"
						class="img-responsive img-rounded" alt="Hotel photo" />
				</div>
				<p></p>
				<p>
					<a class="btn btn-default"
						th:href="@{|/hotels/${hotel.id}/rooms/|}">View rooms</a> <a
						id="showMap" onclick="displayMap()" class="btn btn-default">View
						map</a>
				</p>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary"
					th:each="comment, iterStat : ${hotel.comments.?[value.status]}"
					th:unless="${iterStat.count > 2}">
					<p class="panel-heading">
						<span><i class="glyphicon glyphicon-comment"></i></span>  <a
							th:href="@{|/users/${comment.value.user.id}/|}"><span
								style="color: white" th:text="${comment.value.user.name}"></span></a>
						<span class="pull-right" th:text="${comment.value.date}"></span>
					</p>
					<div class="panel-body">
						<p th:text="${comment.value.text}"></p>						
					</div>
				</div>

				<p>
					<span><a class="btn btn-default"
						th:href="@{|/hotels/${hotel.id}/comments/new|}">Leave a
							comment</a></span> <span><a class="btn btn-default"
						th:href="@{|/hotels/${hotel.id}/comments/|}">View all comments</a></span>
				</p>
			</div>
		</div>
	</div>
</body>
</html>

