<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
	<div class="page-header">
  		<h1>
  			<span th:text="${hotel.name}"></span>
  			<small>
  				<a th:href="@{|/hotels/${hotel.id}/edit|}"><i class="glyphicon glyphicon-edit"></i></a>  <a th:href="@{|/hotels/${hotel.id}/remove|}"><i class="glyphicon glyphicon-trash"></i></a>
  			</small>
  		</h1>
  			
  		<h1>
  			<small><span th:text="${hotel.category}"></span> · <b><span th:text="${hotel.rating}"></span>*</b> · <span th:text="${hotel.address}"></span></small>
  		</h1>
	</div>
	
	<div class="row">
  		<div class="col-md-6">
  			<p><img src="../static/intercontinental.jpg" class="img-responsive img-rounded" alt="Hotel photo"/></p>
			<p><a th:href="@{|/hotels/${hotel.id}/rooms/|}">View room list</a></p>
			<p><a th:href="@{|/hotels/${hotel.id}/comments/new|}">Leave a comment</a></p>
		</div>
  		<div class="col-md-6">  		
  			<div class="panel panel-primary" th:each="comment, iterStat : ${hotel.comments}" th:unless="${!comment.value.status}">
				<p class="panel-heading"><b><span th:text="${comment.value.user.name}"></span></b><span class="pull-right" th:text="${comment.value.date}"></span></p>
		 	   	<div class="panel-body">
		 	   		<p th:text="${comment.value.text}"></p>		 	   		
		 	   	</div> 	   	
			</div>
			<p><a th:href="@{|/hotels/${hotel.id}/comments/|}">View more comments</a></p>
  		</div>
	</div>
    </div>
</body>
</html>

