<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotel List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>

<div th:include="fragments/header"></div>

    <div class="container">
	<div class="page-header">
  		<h1><span th:text="${hotel.name}"></span> <br/> <small><span>Comments</span></small></h1>
	</div>
	
	<div class="row">
  		<div class="col-md-6">  			  			
	  		<div th:if="${comment.value.status}" class="panel panel-primary" th:each="comment : ${hotel.comments}">
				<p class="panel-heading">
					<span><i class="glyphicon glyphicon-comment"></i></span>
					<b><span th:text="${comment.value.user.name}"></span></b>
					<span class="pull-right" th:text="${comment.value.date}"></span></p>
		 	   	<div class="panel-body">
		 	   		<p th:text="${comment.value.text}"></p> 	   	
		 	   		<p>
		 	   			<span th:if="${!comment.value.status}"><a th:href="@{|/hotels/${hotel.id}/comments/${comment.value.id}/approve|}"><i class="glyphicon glyphicon-ok"></i></a> · </span>
		 	   			<a th:href ="@{|/hotels/${hotel.id}/comments/${comment.value.id}/remove|}"><i class="glyphicon glyphicon-trash"></i></a>
		 	   		</p>
		 	   	</div> 	   	
			</div>
  		</div>
  		<div class="col-md-6">
  			<div th:if="${!comment.value.status}" class="panel panel-warning" th:each="comment : ${hotel.comments}">
				<p class="panel-heading"><b><span th:text="${comment.value.user.name}"></span></b><span class="pull-right" th:text="${comment.value.date}"></span></p>
		 	   	<div class="panel-body">
		 	   		<p th:text="${comment.value.text}"></p> 	   	
		 	   		<p>
		 	   			<span th:if="${!comment.value.status}"><a th:href="@{|/hotels/${hotel.id}/comments/${comment.value.id}/approve|}"><i class="glyphicon glyphicon-ok"></i></a> · </span>
		 	   			<a th:href ="@{|/hotels/${hotel.id}/comments/${comment.value.id}/remove|}"><i class="glyphicon glyphicon-trash"></i></a>
		 	   		</p>
		 	   	</div>   	
			</div>			
  		</div>
  	</div>
	
	<p><a th:href="@{|/hotels/${hotel.id}|}">Back</a></p>
	</div>
</body>
</html>

