<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Booking List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>

<div th:include="fragments/header"></div>

    <div class="container">
    	<div class="page-header">
		<h1>Booking List</h1>
		</div>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Begin date</th>
				<th>End date</th>
				<th>Hotel</th>
				<th>Type</th>
				<th>Room Number</th>
				<th>Status</th>			
			</tr>
		</thead>
		<tr th:each="booking : ${bookings}">
			<td><span th:text="${booking.id}"></span></td>
			<td><span th:text="${booking.user.name}"></span></td>
			<td><span th:text="${booking.begin_date}"></span></td>
  	   		<td><span th:text="${booking.end_date}"></span></td>
  	   		<td><span th:text="${booking.room.hotel.name}"></span></td>
  	   		<td><span th:text="${booking.room.type}"></span></td>
  	   		<td><span th:text="${booking.room.room_number}"></span></td>
  	   		<td><span th:text="${booking.state}"></span></td>  	   					
		</tr>
	</table>
	
	<p><a href="/bookings/new">New booking</a></p>
	</div>
</body>
</html>

