<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i></a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		      <ul class="nav navbar-nav">
		        <li><a href="/hotels">Hotels <span class="sr-only">(current)</span></a></li>
		        <li sec:authorize="hasAnyRole('ADMIN')"><a href="/users">Users</a></li>
		        <li sec:authorize="hasAnyRole('HOTEL_MANAGER')"><a href="/bookings">Bookings</a></li>		      
		        <li><a href="/bookings/new">Book a room</a></li>
		        <li sec:authorize="hasAnyRole('COMMENT_MODERATOR')"><a href="/comments/moderation">Moderate comments</a></li>
		        <li sec:authorize="hasAnyRole('ADMIN')"><a href="/admin">Dashboard (admin)</a></li>		        		        	       
		      </ul>
		      <ul class="nav navbar-nav navbar-right">	
			      <li th:if="${#httpServletRequest.remoteUser} != null"><span class="navbar-text" th:utext="'Logged in as <b>' + '<a href=/users/me>' + ${#authentication.principal.user.name} + '</a>' + '</b>'"></span></b></li>
			      <li>
			      	<form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" method="post">
	    				<input class="btn btn-link navbar-btn" type="submit" value="Log out"></input>
				  	</form>
				  </li> 
				  <li th:if="${#httpServletRequest.remoteUser} == null" ><a href="/users/new">Sign up</a></li> 
		          <li th:if="${#httpServletRequest.remoteUser} == null" ><a href="/users/login">Log in</a></li>		        
		      </ul>
		      
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>
</body>
</html>