<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<h1>Editing Room of Hotel:  <span th:text="${hotel.name}"></span></h1>
	
		<div th:include="rooms/form :: roomform(@{|/hotels/${hotel.id}/rooms/${room.id}/|})"></div>
		
	    <p><a href="">Add room</a></p>
    </div>
</body>
</html>

