<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotel List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>

<div th:include="fragments/header"></div>

    <div class="container">
	<div class="page-header">
  		<h1><span th:text="${hotel.name}"></span> <br/> <small><span th:text="${hotel.address}"></span> · <span th:text="${hotel.rating}"></span>* · <span th:text="${hotel.category}"></span></small></h1>
	</div>
    
	<h4>Rooms</h4>
	<ul th:each="room : ${hotel.rooms}">
 	   	<li> <a th:text="${room.value.room_number + ' - ' + room.value.type.description}" th:href="@{|/hotels/${hotel.id}/rooms/${room.key}|}"></a></li>
	</ul>
	
	<p><a th:href="@{|/hotels/${hotel.id}/rooms/new|}">Add room</a></p>
	<p><a th:href="@{|/hotels/${hotel.id}|}">Back</a></p>
	</div>
</body>
</html>

