<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header">
			<h1>
				<span th:text="${user.name}"></span> <small><span
					th:text="${user.username}"></span></small>
			</h1>
			<h4>
				<span class="text-lowercase" th:text="${user.authority.role}"></span>
			</h4>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4>Details</h4>
				<p>
					<label>E-mail: </label> <span th:text="${user.email}"></span>
				</p>
				<p>...</p>
			</div>

			<div class="col-md-6">
				<div class="reviews">
					<h4>Written reviews</h4>
					<div>
						<div th:each="comment : ${user.comments}">
							<p th:text="${comment.date}"></p>
							<p th:text="${comment.text}"></p>							
						</div>
					</div>
				</div>
				<hr>
				<h4>Registered hotels</h4>
				<div>
					<div th:each="hotel : ${user.hotels}">
						<p th:text="${hotel.name}"></p>						
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<h4>Approved bookings</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Check-in</th>
						<th>Check-out</th>
						<th>Hotel</th>
						<th>Room Type</th>
						<th>Room Number</th>

					</tr>
				</thead>
				<tr th:if="${booking.state}" th:each="booking : ${bookings}">
					<td><span th:text="${booking.begin_date}"></span></td>
					<td><span th:text="${booking.end_date}"></span></td>
					<td><span th:text="${booking.room.hotel.name}"></span></td>
					<td><span th:text="${booking.room.type}"></span></td>
					<td><span th:text="${booking.room.room_number}"></span></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
