<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
	<div class="page-header">
  		<h1><span th:text="${user.name}"></span> <small><span th:text="${user.username}"></span></small></h1>
	</div>
	
	
	<p><label>E-mail: </label> <span th:text="${user.email}"></span></p>
	
	<h4>Comments:</h4>
	<div>
		<p th:each="comment : ${user.comments}">
			<b>Text:</b> <p th:text="${comment.value.text}"></p>
			<b>Date:</b> <p th:text="${comment.value.date}"></p>
			<hr/>
		</p>
	</div>
	
    </div>
</body>
</html>

