<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>  
    <div th:include="fragments/header"></div>
    <div class="container">
		
		<div class="page-header"><h1>Sign in</h1></div>
		
		<form action="#" method="post">
	    		<p>			    			        		     
		        	<p><label>Username</label><input class="form-control" placeholder="Username" type="text" /></p>		        
		        	<p><label>User Password</label><input class="form-control" placeholder="Password" type="password" /></p>		        			        	
	        	</p>
	    	    <p><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-default" type="reset" value="Reset" /></p>	    	  
		   </form>
	</div>
    
    
</body>
</html>

